!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title JungleApp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    = render "shared/header"
    .container
      = render "shared/flash"
      .row
        .col-md-12
          = yield
    = yield :javascript      
